@font-face {
  font-family: "Wreath", cursive;
  src: url("webfonts/wreath-half-tone-regular.woff"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navBar {
  background-color: pink;
  /* opacity:0.2;  */
  padding: 0.7em 1.2em;
  width: 100%; }

.navlogo {
  float: right;
  font-size: 25px; }

.menuWrapper {
  display: none;
  width: 100%; }

.menuList {
  padding-left: 1em;
  padding-top: 1.3em; }
  .menuList .menuItem {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    padding: 1em;
    text-transform: uppercase; }
  .menuList .mainli {
    font-weight: 600; }
  .menuList .projMenuItem {
    padding-bottom: 0; }
  .menuList .ddIcon {
    padding-left: 0.5em; }

.menuLink {
  color: black; }

.menuLink:hover, .projMenuItem:hover {
  color: #656B75;
  text-decoration: none; }

.menuLinkSel {
  color: #F2C8BC; }

.dropDownProjects {
  display: none; }
  .dropDownProjects .innerMenu {
    font-weight: 300;
    padding-left: 0; }

/* NAV ICON */
.navIcon {
  cursor: pointer;
  display: inline-block; }
  .navIcon .bar1, .navIcon .bar2, .navIcon .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2em; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px); }

.mainBgImg {
  background-attachment: fixed;
  background-image: url("../img/plant-by-chua-bing-quan.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 89vh;
  justify-content: center; }

.opacOverlay {
  background-color: white;
  height: 100vh;
  width: 100vw;
  opacity: 0.3; }

.mainlogo {
  margin: 0 auto;
  display: inherit; }

.roleText {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  width: 62%; }

.scrollDownBtn {
  color: #f2c8bc;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center; }

.footer {
  margin: 1.3em 0; }
  .footer .socialIcons {
    text-align: center; }
    .footer .socialIcons .socialLink {
      color: #656B75;
      font-size: 1.1em;
      padding: 0 0.3em; }
  .footer .copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase; }
