@font-face {
  font-family: 'Wreath Halft One Regular';
  src: url("../webfonts/wreath-half-tone-regular.woff2") format("woff2"), url("../webfonts/wreath-half-tone-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.loader {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 9999; }

.fa-circle-notch {
  color: #f2c8bc;
  font-size: 7em; }

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1080; }

.navBar {
  background-color: #f2c8bc;
  box-shadow: 0px -8px 30px #1b1b1b;
  padding: 0.7em 1.2em;
  width: 100%; }

.navlogo {
  background-image: url("../assets/sm-logo-white.png");
  background-position: center;
  background-size: cover;
  float: right;
  height: 26px;
  margin-top: 4px;
  width: 40px; }

.menuWrapper {
  background-color: white;
  display: none;
  width: 100%; }

.menuList {
  padding-left: 1em;
  padding-top: 1.3em; }
  .menuList .menuItem {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    padding: 1em;
    text-transform: uppercase; }
  .menuList .mainli {
    font-weight: 600; }
  .menuList .projMenuItem {
    padding-bottom: 0; }
  .menuList .ddIcon {
    padding-left: 0.5em; }

.menuLink {
  color: black; }

.menuLink:hover, .projMenuItem:hover {
  color: #656b75;
  text-decoration: none; }

.menuLinkSel {
  color: #F2C8BC; }

.dropDownProjects {
  display: none; }
  .dropDownProjects .innerMenu {
    font-weight: 300;
    padding-left: 0; }

/* NAV ICON */
.navIcon {
  cursor: pointer;
  display: inline-block; }
  .navIcon .bar1, .navIcon .bar2, .navIcon .bar3 {
    background-color: white;
    border-radius: 2em;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
    width: 30px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px); }

.mainBgImg {
  background-attachment: fixed;
  background-image: url("../assets/mainImg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center; }

.opacOverlay {
  background-color: white;
  height: 100vh;
  opacity: 0.3;
  width: 100vw; }

.landWrapper {
  display: none; }

.mainLogo {
  display: inherit;
  margin: 0 auto;
  width: 196px;
  text-align: center; }

.roleText {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  width: 62%; }

.scrollDownBtn {
  animation: bounceArrow 1s infinite alternate;
  -webkit-animation: bounceArrow 1s infinite alternate;
  -moz-animation: bounceArrow 1s infinite alternate;
  color: #f2c8bc;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center; }

@keyframes bounceArrow {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(-15px); } }

@-webkit-keyframes bounceArrow {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(-15px); } }

@-moz-keyframes bounceArrow {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(-15px); } }

.latestProjSec {
  background-image: url("../assets/ocularPortfolio/iPhone-Mock-Up.png");
  background-position: center;
  background-size: cover;
  height: 36vh; }

.myStorySec {
  background-image: url("../assets/beach-car-lookout.jpg");
  background-position: center;
  background-size: cover;
  height: 36vh; }

.contactSec {
  background-image: url("../assets/desk.jpeg");
  background-position: center;
  background-size: cover;
  height: 36vh; }

.centerAlign {
  align-items: center;
  display: flex; }

.col {
  margin: 1em 0; }

.featureBtn {
  border-style: solid;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  border-color: #1b1b1b;
  border-width: 3px;
  color: #1b1b1b;
  display: block;
  padding: 13px;
  text-shadow: -2px 2px #f2c8bc; }

.homeFeatBtn {
  width: 62vw; }

.homeFeatBtn:hover {
  border-color: white;
  color: white;
  text-decoration: none; }

.mainHeader {
  color: #1b1b1b;
  font-family: "Wreath Halft One Regular", cursive;
  text-align: center;
  font-size: 3.3em;
  margin-top: 1em;
  line-height: 1.6; }

.instaHeader {
  color: #1b1b1b;
  font-family: "Wreath Halft One Regular", cursive;
  text-align: center;
  font-size: 3.9em;
  margin-top: 1.5em;
  line-height: 0.6; }

.hr {
  border-top: 1px solid #f2c8bc;
  margin: 1em auto;
  text-align: center;
  width: 73%; }

.instaMedia {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  text-align: center; }

.footer {
  padding: 0 1em;
  margin: 2.3em 0; }
  .footer .socialIcons {
    margin-bottom: 0.4em;
    text-align: center; }
    .footer .socialIcons .socialLink {
      color: #656b75;
      font-size: 1.1em;
      padding: 0 0.3em; }
  .footer .copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase; }

.socialLink:visited, .socialLink:hover {
  color: #656b75; }

.container {
  padding: 0 25px; }

.mainMargin {
  margin-top: 6em; }

.projMainHeader {
  background-color: #f2c8bc;
  height: 2.1em;
  padding-top: 35px; }

.myStoryImg {
  background-image: url("../assets/beach-walking.jpeg");
  background-position: center;
  background-size: cover;
  height: 48vh;
  margin: 1.5em 0; }

.desc {
  font-size: 0.8em;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2em; }

.goToBtn {
  border-style: solid;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  border-color: #656b75;
  border-width: 2px;
  color: #656b75;
  font-size: 0.8em;
  padding: 13px; }

.goToBtn:hover {
  color: white;
  background-color: #656b75;
  text-decoration: none; }

.myStoryBtn {
  display: block;
  width: 62vw; }

.projectCarasoul {
  background-color: #f2c8bc;
  height: 270px;
  width: 270px; }

.projDesc {
  margin-bottom: 2.5em;
  margin-top: 2em; }

.projTitle {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase; }

.seeItLiveBtnBord {
  border-left-width: 0; }

.projMargin {
  margin-top: 3.5em; }

.seeItLiveBtnPad {
  padding: 13px 33px; }

.swiper-container {
  height: 33vh;
  width: 85vw; }

.carouselImg {
  width: 100%;
  max-width: 500px; }

.pgFeatBtn {
  width: 100vw; }

.pgFeatBtn:hover {
  color: white;
  text-decoration: none; }

.tcsContent, .wbsContent, .fhContent {
  display: none; }

.photographyImgCon {
  text-align: center; }

.photographyImg {
  margin: 0.5em auto;
  max-width: 373px;
  min-width: 268px;
  width: 90%; }

@media only screen and (min-width: 600px) {
  .mainBgImg {
    height: 50vh; }

  .landWrapper {
    margin-top: 2.5em; }

  .roleText {
    font-size: 1.2em; }

  .mainLogo {
    width: 250px; }

  .scrollDownBtn {
    font-size: 2.2em; }

  .homeFeatBtn {
    max-width: 257px; }

  .latestProjSec, .myStorySec, .contactSec {
    height: 22vh;
    margin: 0 auto;
    max-width: 300px;
    width: 100%; }

  .featured {
    margin-top: 1em; }

  .hr {
    width: 48%; }

  .instaHeader {
    font-size: 3.9em;
    line-height: 1.0; }

  .styleMyStory {
    height: 347px;
    margin: auto;
    width: 442px; }

  .myStorHead {
    width: 270px;
    position: relative;
    top: 0;
    z-index: 1; }

  .myStoryImg {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 73px;
    left: 0;
    margin: 0 auto; }

  .descWrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 442px; }
    .descWrap .desc {
      padding: 0; }

  .myStoryBtn {
    width: 33vw; }

  .projMainHeader {
    max-width: 7.777em;
    margin-left: auto;
    margin-right: auto; }

  .project1 {
    margin-top: 2em; }

  #projContainer {
    padding: 0 4em; }

  .swiper-container {
    height: 267px;
    width: 412px; }

  .projDets {
    margin: 0 auto;
    max-width: 409px; }

  .carouselImg {
    margin: 0 auto; }

  .graphBtn {
    margin-bottom: 2em;
    margin-top: 1em; }

  .photogContainer {
    margin-left: auto;
    margin-right: auto;
    width: 440px; }

  .photographyImg {
    max-width: 442px;
    width: 93%; } }
@media only screen and (min-width: 1281px) {
  .mainLogo {
    width: 224px; }

  .roleText {
    font-size: 1.1em; }

  .featured {
    height: 50vh;
    margin-top: 0; }

  .latestProjSec, .myStorySec, .contactSec {
    height: 27vh;
    max-width: none; }

  .instaHeader {
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0; }

  .hr {
    margin-top: 0; }

  .project1, .project2, .project3 {
    background-color: white;
    box-shadow: 5px 9px 42px -8px #1B1B1B;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    overflow-x: hidden;
    padding: 27px;
    width: 791px; }

  .project2, .project3 {
    margin-top: 4em; }

  .project1 {
    margin-top: 4em; }

  .project1 {
    height: 349px; }

  .project2 {
    height: 367px; }

  .project3 {
    height: 405px; }

  .carouselCon {
    float: left; }

  .swiper-container {
    height: 292px; }

  .projDets {
    float: right;
    width: 290px; }
    .projDets .projDesc {
      margin-top: 0; }

  .footer {
    margin-bottom: 3em;
    margin-top: 4.3em; } }
