@font-face {
    font-family: 'Wreath Halft One Regular';
    src: url('../webfonts/wreath-half-tone-regular.woff2') format('woff2'),
         url('../webfonts/wreath-half-tone-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//variables
$primaryColor: #F2C8BC;
$secondaryColor: #656B75;
$tertiaryColor:	#1B1B1B;
$bodyFontFamily: 'Quicksand', sans-serif;
$h1FontFamily: "Wreath", cursive;
$h2FontFamily: 'Oswald', sans-serif;

@mixin bgImgSetting {
	background-position: center;
	background-size: cover;
	height: 36vh;
}


// h1 = script
// h2 = oswald
// h3 = bold Quicksand

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// LOADER ------------------------------------------------------------------

.loader {
	align-items: center;
	background-color: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 9999;
}

.fa-circle-notch {
	color: $primaryColor;
	font-size: 7em;
}

// NAVIGATION ------------------------------------------------------------------

.nav {
	position: fixed;
	width: 100vw;
	z-index: 1080;
}

.navBar {
	background-color: $primaryColor;
	/* opacity:0.2;  */
	padding: 0.7em 1.2em;
	width: 100%;
}

.navlogo {
	background-image: url('../img/logo.png');
	background-position: center;
	background-size: cover;
	float: right;
	height: 30px;
	width: 33px;
}

.menuWrapper {
	background-color: white;
	display: none;
	width: 100%;
}

.menuList {
	padding-left: 1em;
	padding-top: 1.3em;
	.menuItem {
		cursor: pointer;
		font-family: 'Oswald', sans-serif;
		list-style: none;
		padding: 1em;
		text-transform: uppercase;
	}
	.mainli {
		font-weight: 600;
	}
	.projMenuItem {
		padding-bottom: 0;
	}
	.ddIcon {
		padding-left: 0.5em;
	}
}

.menuLink {
	color: black;
}

.menuLink:hover, .projMenuItem:hover {
	color: #656B75;
	text-decoration: none;
}

.menuLinkSel {
	color: #F2C8BC;
}

.dropDownProjects{
	display: none;
	.innerMenu {
		font-weight: 300;
		padding-left: 0;
	}
}

/* NAV ICON */
.navIcon {
	cursor: pointer;
	display: inline-block;

	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 3px;
		background-color: white;
		margin: 6px 0;
		transition: 0.4s;
		border-radius: 2em;
	}
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -7px);
	transform: rotate(45deg) translate(-6px, -7px);
}

// MAIN ------------------------------------------------------------------------

.mainBgImg {
	background-attachment: fixed;
	background-image: url('../img/plant-by-chua-bing-quan.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.opacOverlay {
	background-color: white;
	height: 100vh;
	opacity: 0.3;
	width: 100vw;
}

.landWrapper {
	display: none;
}

.mainlogo {
	display: inherit;
	margin: 0 auto;
}

.roleText {
	font-family: $bodyFontFamily;
	font-size: 1em;
	margin: 0 auto;
	text-align: center;
	width: 62%;
}

.scrollDownBtn {
	color: $primaryColor;
	cursor: pointer;
	font-size: 1.5em;
	margin-top: 1em;
	text-align: center;
	animation: bounceArrow 1s infinite alternate;
 	-webkit-animation: bounceArrow 1s infinite alternate;
	-moz-animation: bounceArrow 1s infinite alternate;
}

// Animate bouncing down arrow
@keyframes bounceArrow {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounceArrow {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounceArrow {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.latestProjSec	{
	background-image: url("../img/travelCompanion.png");
	@include bgImgSetting;
}

.myStorySec {
	background-image: url("../img/beach-car-lookout.jpg");
	@include bgImgSetting;
}

.contactSec {
	background-image: url("../img/desk.jpeg");
	@include bgImgSetting;
}

.centerAlign {
	align-items: center;
	display: flex;
}

.col {
	margin: 1em 0;
}


.featureBtn {
	border: 3px solid $tertiaryColor;
	color: $tertiaryColor;
	display: block;
	font-family: $h2FontFamily;
	font-weight: 600;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	text-shadow: -2px 2px $primaryColor;
	text-transform: uppercase;
	transition: 0.2s;
	width: 62vw;
}

.featureBtn:hover {
	border-color: white;
	color: white;
	text-decoration: none;
}


.mainHeader {
	color: $tertiaryColor;
	font-family: "Wreath Halft One Regular", cursive;
	font-size: 3.3em;
	line-height: 0.4;
	margin-top: 1em;
	text-align: center;
}

.hr {
	border-top: 1px solid $primaryColor;
	margin: 1em auto;
	text-align: center;
	width: 73%;
}

.instaMedia	{
	display: flex;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
}

// FOOTER ----------------------------------------------------------------------

.footer {
	padding: 0 1em;
	margin: 2.3em 0;
	.socialIcons {
		text-align: center;
	 	margin-bottom: 0.4em;
		.socialLink {
			color: $secondaryColor;
			font-size: 1.1em;
			padding: 0 0.3em;
		}
	}
	.copyright {
		font-family: 'Quicksand', sans-serif;
		font-size: 0.7em;
		text-align: center;
		text-transform: uppercase;
	}
}

.socialLink:visited, .socialLink:hover {
	color: $secondaryColor;
}
